* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*COLORS*/
  --bg-color: #FFFFFF;
  --text-color: #323238;
  --bg-card: #E1E1E6;
  --bg-card-dark: #02799D;
  
  /*FONT-SIZE*/
  font-size: 62.5%;
  
  --fs-primary: 12.66rem;

  /*FONT-FAMILY*/
  --ff-primary: 'Roboto', sans-serif;
}

.dark-mode:root {
  --bg-color: #121214;
  --text-color: #FFFFFF;
  --bg-card: #29292E;
  --bg-card-dark: #0A3442;
}

main button svg > path {
  fill: var(--text-color);
}

.cards svg > path {
  fill: var(--text-color);
}

body {
  color: var(--text-color);
  font-family: var(--ff-primary);
  background: var(--bg-color);
}

header {
  display: flex;
  justify-content: end;
  margin: 6rem 6rem 0 0;
}

header .light-mode:hover {
  cursor: pointer;
  scale: 1.1;
}

header .dark-mode:hover {
  cursor: pointer;
  scale: 1.1;
}

.container {
  display: grid;
  place-items: center;  
  margin-top: 9.2rem;
}

main {
  display: flex;
  align-items: center;
  gap: 19.2rem;
}

.time {
  margin-bottom: 2rem;
}

span {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.controls button {
  background: none;
  border: none;
}

.controls button:hover {
  cursor: pointer;
  scale: 1.1;
}

.hide {
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.2rem;
}

.card {
  background: var(--bg-card);
  border-radius: 2.4rem;

  width: 13.8rem;
  height: 15.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card input {
  width: 90px;
  margin-top: 3.2rem;
  
}

#volumeBar {
  appearance: none;
  -webkit-appearance: none;

  
}

.volumeBar {
  background: var(--text-color);
  border-radius: .5rem;
  height: .4rem;  
  cursor: pointer;
}


.volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: none;
  background: var(--text-color);
  
}

.volumeBar::-moz-range-thumb {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: none;
  background: var(--text-color);
}

.clicked  {
  background-color: var(--bg-card-dark);
  
}


